@{
    ViewData["Title"] = "Contact";
}
@model TempData.Controllers.ModelBinderTestViewModel
<h4>This view displays the posted data from the previous form</h4>
<h2>Name : @Model.Name</h2>
<h2>Model : @Model.Model</h2>
